/*-- Main Classes --*/
header {
	width: 100%;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #454545;
	border-left-color: #666;
	border-top-width: 0px;
	height: 120px;
}
header .logo {
	position: absolute;
	left: 14px;
	top: 5px;
	display: block;
	width: 240px;
	height: 43px;
}

.intro {
	float: left;
	color: #999;
	text-align: left;
	padding-top: 15px;
	width: 70%;
	padding-right: 30%;
	padding-bottom: 10px;
}

.topsection {
float: left;
	color: #999;
	width: 100%;
}

.call_us {
	font-style: normal;
	font-size: 12px;
	color: #999;
}
    .filterwrap {
	width: 100%;
	float: left;
}
    .slidingDiv {
	background-color: #333;
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 5px;
	background-image: url(../images/filter_bk.png);
	background-repeat: repeat-x;
}

    .slidingDiv2 {
	background-color: #333;
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 10px;
	background-image: url(../images/filter_bk.png);
	background-repeat: repeat-x;
}


    .line {
	background-color: #666;
	height: 1px;
	width: 100%;
	margin-top: 20px;
	float: left;
}

    .sub {
	font-size: 18px;
	font-weight: bolder;
}

.bold_copy {
	font-size: 110%;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: bolder;
}

.bold_copy {
	font-size: 110%;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: bold;
}


    .subheader {
	font-size: 18px;
	font-weight: bolder;
}
    .spacer {
	float: left;
	height: 10px;
	width: 10px;
}
    .navigation {
	float: left;
	margin-right: 20px;
}


    .filtertitle {
	float: left;
	padding-bottom: 15px;
	width: 100%;
	padding-top: 10px;
	padding-left: 5px;
	font-size: 15px;
}

    .filtertitle2 {
	float: left;
	padding-bottom: 15px;
	width: 100%;
	padding-top: 10px;
	font-size: 15px;
}


.bold_overlay {
	font-weight: bold;
}




@media only screen and (max-width: 479px) {
.intro {
	float: left;
	color: #999;
	text-align: left;
	padding-top: 15px;
	width: 100%;
	padding-right: 30%;
	padding-bottom: 10px;
}
}




/*General Mosaic Styles*/
.mosaic-block {
	float: left;
	position: relative;
	overflow: hidden;
}

.mosaic-overlay {
		display:none;
		z-index:5;
		position:absolute;
		width:100%;
		height:100%;
	}
	
.fade .mosaic-overlay {
			opacity:0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
			filter:alpha(opacity=00);
			background:url(../img/bg-black.png);
		}
		
/*General Mosaic Styles End*/
