svg {
	border: 1px solid;
}

#visualisation {
	padding: 10px;
	width: 410px;
	height: 210px;
	margin: 10px auto;
}

.axis path {
	fill: none;
	stroke: steelblue;
	stroke-width: 1px;
}

#tryIt {
	display: block;
	margin: 0 auto;
}