body {
	font-family: 'Open Sans', sans-serif;
	margin: 10px;
}
.quicklink {
	margin: 2px;
	display: inline-block;
}
.banner {
	margin: auto;
	height: 120px;
	width: 80%;
	text-align: center;
}
.blurb {
	margin-bottom: 20px;
}
.bloglist a {
	margin-right: 20px;
}

.content-item {
	margin-top: 8px;
}

.footnotes {
	padding-left: 0px;
	margin: 10px;
}

@media only screen and (min-width : 1224px) {
	.content {
		width: 900px;
		margin: auto;
	}
	.content-item {
		float: left;
		width: 200px;
		margin: 10px;
	}
	.content-row {
		height: 200px;
	}
}
