body {
    height:100%;
    font-family: 'Zilla Slab', sans-serif;
    margin-left: 20px;
}
.text {
    font-family: 'Lora', serif;
}
#name h1 {
    font-family: 'Zilla Slab Highlight', serif;
    margin-bottom: 5px;
    display: inline-block;
}
#name h2 {
    margin-bottom: 5px;
    display: inline-block;
}
#name p {
    margin-top: 5px;
}
#page {
  margin: auto;
  position: relative;
  width: 90%;
}
ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 30px;
}
li {
    padding: 3px;
    margin-top: 3px;
}
a {
    margin-right: 5px;
}
.green {
    background-color: lightgreen;
}
.yellow {
    background-color: khaki;
}
.pink {
    background-color: lightpink;
}
.blue {
    background-color: lightblue;
}
.navbar {
    padding: 5px;
}
.navbar a {
    margin-right: 10px;
}
img { max-width: 100%; height: auto; }

@media only screen and (min-width : 1224px) {
    #name h1 {
        font-size: 3em;
    }
    #page {
      width: 75%;
    }
}
